[mysqld]
# 一般クエリログ
general_log=OFF
log_output=FILE
general_log_file=/var/lib/mysql/query.log
max_binlog_size=100M

# スロークエリ
slow_query_log=ON
long_query_time=1
log_queries_not_using_indexes=ON
slow_query_log_file=/var/lib/mysql/slow.log